@font-face {
    font-family: 'iconfont';  /* project id 390945 */
    src: url('http://at.alicdn.com/t/font_390945_tz65ky0uoefxn7b9.eot');
    src: url('http://at.alicdn.com/t/font_390945_tz65ky0uoefxn7b9.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_390945_tz65ky0uoefxn7b9.woff') format('woff'),
    url('http://at.alicdn.com/t/font_390945_tz65ky0uoefxn7b9.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_390945_tz65ky0uoefxn7b9.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont';
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* 头部开始 */
header{
    width: 100%;
    height: 102px;
    /* background: pink; */
    display:flex;
    align-items: center;
}
.logo{
    width: 207px;
    height: 100%;
    /* background: yellow; */
    margin-left: 145px;
    float:left;
    background-size: 207px,102px;
}
.logo-right{
    width: 176px;
    height: 36px;
    /* background: green; */
    float: left;
    margin-left: 16px;
}
.logo-right .word1 span{
    font-size: 22px;
    color: #687D8F;
}
.logo-right .word2{
    font-size: 14px;
}
.logo-right .word2 a{
    color: #F13F4B;
}
.search{
    width: 235px;
    height: 30px;
    /* background: green; */
    float: right;
    margin-left: 440px;
    position: relative;
}
.search-left{
    width: 203px;
    height: 100%;
    border: 1px solid #8c8c8c;
    box-sizing: border-box;
    float: left;
    /*border-radius: 4px;*/
}
.search-left input{
    width:100%;
    height:100%;
    outline: none;
    border:0;
    padding-left:10px;
    box-sizing:border-box;
}
.search-right{
    width: 35px;
    height: 30px;
    float: left;
    margin-left: -5px;
    background: yellow;
    background: url('img/search-button.png')
}
.login{
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 12px;
    /* color: #999; */
}
.regs{
    position: absolute;
    top: 40px;
    right: 30px;
    font-size: 12px;

}
.hello{
    position: absolute;
    top: 40px;
    right:139px;
    font-size: 12px;
    color: #f13f4b;
}
.login a,.regs a{
    color: #999;
}
/* 头部结束 */
/* 导航开始 */
nav{
    width: 100%;
    height: 66px;
    background:rgba(0,0,0,0.8);
}
.nav-list{
    margin-left: 100px;
    /* width: 700px; */
}
.nav-list li{
    width: 120px;
    height: 100%;
    float: left;
    /* background: pink; */
}
.nav-list li a{
    font-size: 17px;
    color: #fff;
    text-align: center;
    line-height: 66px;
    display: block;
}
.nav-list li:hover{
    background: #f03f53;
}

/* 导航结束 */
/*留言开始*/
.lyword{
    width:100%;
    height:80px;
    background: #fff;
    font-size: 30px;
    color:#f03f53;
    font-family: '楷体';
    line-height: 80px;
    padding-left: 30px;
    box-sizing: border-box;
}
.text-box{
    width:100%;
    height:500px;
    background:#efefed;
    position: relative;
}
.text{
    width:50%;
    height:100%;
    position: relative;
}
.text img{
    width:100%;
    height:100%;
    float:left;
    display: block;
}
.top{
    width: 500px;
    height: 300px;
    /* background: #efefef; */
    margin: 20px auto;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
}
textarea{
    resize: none;
}
.top .text{
    width: 100px;
    height: 30px;
    margin: 10px 15px;
    display: block;
}
textarea{
    margin-left: 15px;
    padding-left: 10px;
    display: block;
    font-size: 12px;
    box-sizing: border-box;
}
.more{
    width: 100px;
    height: 20px;
    /* border: 1px solid #ff6700; */
    float: right;
    margin-right: 20px;
}
.submit{
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color:#fff ;
    background: #F13F4B;
    margin: 20px 30px;
}

.nr{
    width:50%;
    height:100%;
    box-sizing: border-box;
    float:left;
    position: absolute;
    right:0;
    bottom:0;
}
.bottom{
    width: 600px;
    height: auto;
    border:1px solid #dfdfdf;
    margin: 100px auto;
    min-height: 300px;
}
.bottom li{
    width: 100%;
    height: 90px;
    margin:10px auto;
    /* background: yellow; */
    position: relative;
    border-bottom: 1px solid #F13F4B;
    box-sizing: border-box;
    display: flex;
}
.bottom li:last-child{
    border: 0;
}
.left{
    width: 90px;
    height: 90px;
    background: #dfdfdf;
    /*   position: absolute;
    left: 0;
    top: 0; */
}
.left img{
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: 5px;
}
.right{
    height: 90px;
    /* background: blue; */
    /* 	position: relative;
        margin-left: 90px; */
    flex-grow: 1;
}
.right h3{
    display: block;
    height: 20px;
}
/*留言结束*/
/*底部开始*/
footer{
    width: 100%;
    height: 280px;
    background: #101010;
}
.ftop{
    width: 100%;
    height: 280px;
    /*background:#101010 ;*/
}
.ftop>li{
    width: 33.3%;
    height: 200px;
    margin-top: 40px;
    float: left;
    /*background: #101010;*/
    border-right: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftop>li:nth-child(2){
    border-left: 1px solid #232323;
}
.ftop>li:nth-child(3){
    border-left: 1px solid #232323;
}
.fone{
    width: 300px;
    height: 170px;
}
.fone p{
    color:#CCCCCC;
    margin-bottom: 25px;
}
.fabout{
    color: #515151;
    margin-bottom: 30px;
}
.icon-box{
    width: 100%;
    height: 30px;
}
.icon-box li{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 0;
    margin-right: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    color: #dfdfdf;
}
.fone ul{
    float: left;
    margin-right: 40px;
    color: #515151;
}
.fone ul:nth-child(4){
    margin-right: 0;

}
.f3 img{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

h3{
    font-size: 16px;
    color: #cccccc;
}

.f3{
    width: 300px;
    height: 170px;
}
.f3>div{
    text-align: center;
    margin-top: 3px;
    font-size: 12px;
    color: #515151;
}

/* 底部结束 */