/*
* @Author: G50-70
* @Date:   2017-08-06 20:21:37
* @Last Modified by:   G50-70
* @Last Modified time: 2017-09-24 17:15:55
*/
@font-face {
	font-family: 'iconfont';  /* project id 390945 */
	src: url('http://at.alicdn.com/t/font_390945_tz65ky0uoefxn7b9.eot');
	src: url('http://at.alicdn.com/t/font_390945_tz65ky0uoefxn7b9.eot?#iefix') format('embedded-opentype'),
	url('http://at.alicdn.com/t/font_390945_tz65ky0uoefxn7b9.woff') format('woff'),
	url('http://at.alicdn.com/t/font_390945_tz65ky0uoefxn7b9.ttf') format('truetype'),
	url('http://at.alicdn.com/t/font_390945_tz65ky0uoefxn7b9.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
/* 头部开始 */
header{
	width: 100%;
	height: 102px;
	/* background: pink; */
    display:flex;
    align-items: center;
}
.logo{
	width: 207px;
	height: 100%;
	/* background: yellow; */
	margin-left: 145px;
	float:left;
	background: url('../images/2833c99ae8aae1b4245974768a412376.png') no-repeat center center;
	background-size: 207px,102px;
}
.logo-right{
	width: 176px;
	height: 36px;
	/* background: green; */
	float: left;
	margin-left: 16px;
}
.logo-right .word1 span{
	font-size: 22px;
	color: #687D8F;
}
.logo-right .word2{
	font-size: 14px;
}
.logo-right .word2 a{
	color: #F13F4B;
}
.search{
	width: 235px;
	height: 30px;
	/* background: green; */
	float: right;
	margin-left: 440px;
	position: relative;
}
.search-left{
	width: 203px;
	height: 100%;
	border: 1px solid #8c8c8c;
	box-sizing: border-box;
	float: left;
	/*border-radius: 4px;*/
}
.search-left input{
	width:100%;
	height:100%;
	outline: none;
	border:0;
	padding-left:10px;
	box-sizing:border-box;
}
.search-right{
	width: 35px;
	height: 30px;
  float: left;
  margin-left: -5px;
  background: yellow;
  background: url('../images/search-button.png')
}
.login{
	position: absolute;
	top: 40px;
	right: 30px;
	font-size: 12px;
	/* color: #999; */
}
.regs{
	position: absolute;
	top: 40px;
	right: 0px;
	font-size: 12px;
}
.person{
	position: absolute;
	top: 40px;
	right:80px;
	font-size: 12px;

}
.exit{
	position: absolute;
	top: 40px;
	right:50px;
	font-size: 12px;

}
.person a,.exit a{
   color:#999;
}
.name{
	color:#f03f53;
	font-size: 10px;
}
.hello{
	position: absolute;
	top: 40px;
	/*right:139px;*/
	font-size: 12px;
	color: #f13f4b;
}
.login a,.regs a{
	color: #999;
}
/* 头部结束 */
/* 导航开始 */
nav{
	width: 100%;
	height: 66px;
	background:rgba(0,0,0,0.8);
}
.nav-list{
	margin-left: 100px;
	height:100%;
}
.nav-list li{
	width: 120px;
	height: 100%;
	float: left;
	/* background: pink; */
}
.itemp{
	position: relative;

}
.item{
	width: 120px;
	height: 0px;
	position: absolute;
	top: 66px;
	left:0;

	z-index: 66;

}
.item a{
	opacity: 0;
	height: 20px;
	display: block;

	margin-bottom: 10px;
}
.itemp:hover .item{
	height: 66px;

}
.itemp:hover .item a{

	transition: all .5s;
	opacity: 1;
}
.nav-list li a{
	font-size: 17px;
	color: #fff;
	text-align: center;
	line-height: 66px;
	display: block;
}
.nav-list li:hover{
	background: #f03f53;
}

/* 导航结束 */
/* banner开始 */
.banner-box{
	width: 100%;
	height:600px;
	background:#dfdfdf;
	position:relative;
}
.banner-box .bimg{
	position: relative;
	 width:1200px;
	 height:100%;
	 margin:0 auto;
	 overflow: hidden;
}
.banner-box .btnl,.banner-box .btnr{
	width:74px;
	height:74px;
	background:rgba(0,0,0,0.1);
	border-radius: 50%;
	margin-top:auto;
	margin-bottom:auto;
	font-size: 50px;
	text-align: center;
	line-height: 74px;
	opacity: 0;
}
.btnl>a{
	color: #dfdfdf;
}
.btnr>a{
	color: #dfdfdf;
}
.banner-box:hover .btnl{
	opacity:1;
	transition: 0.5s;
}
.banner-box:hover .btnr{
	opacity:1;
	transition: 1s;
}

.banner-box .btnl{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
}
.banner-box .btnr{
	position:absolute;
	right:0;
	top:0;
	bottom:0;
}
.banner-box .bimg>a{
	width:1200px;
	height:100%;
	display:block;
	position:absolute;
	left:100%;
	top:0;
}
.banner-box .bimg>a:first-child{
	left:0;
	display: block;
}
.banner-box img{
	width: 100%;
	height: 100%;
}
.circle-box{
	width: 80px;
	height: 10px;
	/* background: green; */
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 20px;
	display: flex;
	align-items: center;
}
.circle-box>li{
	width: 10px;
	height: 10px;
	background: #fff;
	float: left;
	border-radius: 50%;
	margin-right: 10px;
}
.circle-box>li>a{
	width: 10px;
	height: 10px;
	display: block;
}
.circle-box li:first-child{
	background:#F13F4B;
}
/* banner结束 */
/* 分块开始 */
.fenkuai{
	width: 100%;
	height: 36px;
	background: #fff;
}
.red{
	width: 50%;
	height: 100%;
	background: #f13f4b;
	float: right;
}
/* 分块结束 */
/* 公司介绍开始 */
.tro-box{
	width: 100%;
	height: 540px;
	background: pink;
}
.tro-left{
	width: 50%;
	height: 100%;
	background:#9D9D9D;
	float: left;
	position: relative;
}
.white{
	width: 550px;
	height: 387px;
	background: #fff;
	margin-top: 71px;
	margin-left: 29px;
}
.white-top{
	width: 550px;
	height: 387px;
	background: yellow;
	position: absolute;
	top: 48px;
	left: 54px;
	/*position:relative;*/
}
.white-top a{
	width: 100%;
	height: 100%;
	display: block;
}
.white-top img{
	width: 100%;
	height: 100%;
}
.white-top .zhezhao1{
	width:550px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 1s;
}
.white-top:hover .zhezhao1{
	 opacity: 0.8;
}
.w1,.w2{
	font-size: 40px;
	color:#dfdfdf;
	font-family: '楷体';
}
.w1{
	margin-top:150px;
	margin-bottom:10px;
	opacity: 0;
}
.w2{
	padding-left: 300px;
	opacity:0;
}
.white-top:hover .w1{
	opacity:1;
	transform:translateX(200px);
	transition: all ease 1s;
}
.white-top:hover .w2{
	opacity:1;
	transform:translateX(-150px);
	transition: all ease 1s;
}
.tro-right{
	width: 50%;
	height: 100%;
	background:#CECECE;
	float: left;
}
.tro-word1{
	margin-top: 61px;
	margin-left: 49px;
	font-size: 34px;
	color: #283845;
	font-family: '微软雅黑';
	font-weight: bold;
}
.tro-english{
	margin-top: 17px;
	margin-left: 49px;
	font-size: 13px;
	color: #283845;
	font-family: '微软雅黑';
	font-weight: bold;
}
.tro-word2{
	width: 577px;
	margin-top: 44px;
	margin-left: 36px;
	font-size: 14px;
	color: #343643;
	line-height:35px;
}
.tro-word3{
	width: 112px;
	height: 40px;
	margin-top: 34px;
	margin-left: 514px;
	background: #fd3a4a;
	font-family: '微软雅黑';
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}
.tro-word3 a{
	font-family: '微软雅黑';
	font-weight: bold;
	color: #fff;
}
.tro-word3 a:hover{
	color: #CECECE;
}
/* 公司介绍结束 */
/* 系列选择开始 */
.serious-box{
	width: 100%;
	height: 247px;
	/* background: pink; */
	overflow: hidden;
}
.yuan{
	width: 736px;
	height: 127px;
	margin: 60px auto;
	display: flex;
	justify-content: space-between;
}
.yuan li{
	width: 127px;
	height: 127px;
	border-radius: 50%;
	/* background: yellow; */
	float: left;
	perspective: 1200px;
}
.img-box{
	width: 127px;
	height: 127px;
	border-radius: 50%;
	/* background: green; */
	float: left;
	position: relative;



}
.img-box a{
	width: 100%;
	height: 100%;
}
.img-box img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.8;
}
/*.zhezhao{*/
	/*width: 127px;*/
	/*height: 127px;*/
	/*background:rgba(59,59,59,0.7);*/
	/*border-radius: 50%;*/
	/*position: absolute;*/
	/*left: 0;*/
	/*top: 0;*/
  /*line-height: 127px;*/
	/*text-align: center;*/
  /*transform: rotateY(90deg);*/
    /*!* visibility: hidden; *!*/
  /*transform-style: preserve-3d;*/
/*}*/
/*.img-box:hover .zhezhao{*/
	/*!*visibility: visible;*!*/
    /*!* transform-style: preserve-3d;	 *!*/
	/*transform: rotateY(0deg);*/
	/*transition:  1s ease;*/
	/*background: rgba(241, 63, 75, 0.9);	*/
/*}*/
/*.zhezhao a{*/
    /*font-size: 20px;*/
    /*color: #fff;   */
/*}*/
/* 系列选择结束 */
/* 精选案例开始 */
.good-box{
	width: 100%;
	height: 615px;
	/* background: pink; */
}
.good-top{
	width: 1091px;
	height: 57px;
	margin: 0 auto;
}
.good-top .icon{
	font-size: 26px;
	color: #F13F4B;
	line-height: 57px;
+  display: block;
  float:left;
}
.more{
	line-height: 57px;
	float:right;
	font-size: 12px;
}
.more a{
	color:#F4797F;
}
.good-top h1{
	float:left;
	font-size: 18px;
	line-height: 57px;
	color: #383838;
	font-weight:normal;
}
.good{
	width: 1091px;
	height: 558px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.good li{
 width:354px;
 height:271px;
 border:2px solid #DCDCDC;
 float:left;
 position:relative;
 overflow: hidden;
}
.good li a{
 color:#9d9d9d;
}
.good li img{
	width:100%;
	height:100%;
}
.good li a{
	width:100%;
	height:100%;
	display: block;
}
.float{
	width:100%;
	height:100px;
	background:#FD3A4A;
	position:absolute;
	top:271px;
	left:0;
}
.float h1{
	font-size:18px;
	color:#fff;
	text-align: center;
	font-weight:normal;
	padding-top: 10px;
	box-sizing: border-box;
	display: block;
}
.miaoshu{
	width:330px;
	margin-left: 12px;
	margin-top:10px;
	color:#fff;
	font-size:14px;
}
.good li:hover .float{
	 transform: translateY(-271px);
	 transition:1s;
}
/* 精选案例结束 */
/*新闻中心开始*/
.new-box{
	width:100%;
	height:590px;
	overflow: hidden;
}
.new{
	width:1091px;
	height:485px;
	margin:20px auto 85px;
}
.new-bottom{
	width:100%;
	height:428px;
	border:1px solid #DCDCDC;
	box-sizing: border-box;
}
.newone{
	width:373px;
	height:100%;
	float:left;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}
.onetop{
	width:329px;
	height:190px;
	margin-top:31px;
}
.onetop a{
	width:329px;
	height:190px;
}
.onetop img{
	width:329px;
	height:190px;
}
.onemiddle{
	width:100%;
	height:60px;
	font-size:16px;
	line-height:60px;
	margin-bottom:0;
}
.onemiddle a{
	color:#000;
	padding-left:30px;
}
.onebottom{
	width:100%;
	height:100px;
	font-size:14px;
}
.onebottom a{
	color:#919292;
	padding-left:30px;
	padding-right:15px;
	box-sizing:border-box;
	display:block;
}
.newtwo{
	width:358px;
	height:100%;
	/*background:blue;*/
	float:left;
}
.ntop{
	width:100%;
	height:50%;
	border-bottom:1px solid #DCDCDC;
	box-sizing:border-box;
	padding-top:65px;
}
.ntop h1{
	font-size:16px;
	color:#000;
	font-weight:normal;
}
.ntop h1 a{
	color:#000;
}
.jias{
	margin-right: 100px;
	font-size:14px;
	color:#919292;
	margin-top:30px;
}
.nbottom{
	width:100%;
	height:50%;
	border-top:1px solid #DCDCDC;
	box-sizing:border-box;
	padding-top:39px;
}
.nbottom h1{
	font-size:16px;
	color:#000;
	font-weight:normal;
	padding-bottom: 5px;
}
.nbottom h1 a{
	color:#000;
}
/*新闻中心结束*/
/*底部开始*/
footer{
	width: 100%;
	height: 280px;
	background: #101010;
}
.ftop{
	width: 100%;
	height: 280px;
	background:#101010 ;
}
.ftop>li{
    width: 33.3%;
    height: 200px;
    margin-top: 40px;
    float: left;
    background: #101010;
    border-right: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftop>li:nth-child(2){
	border-left: 1px solid #232323;
}
.ftop>li:nth-child(3){
	border-left: 1px solid #232323;
}
.fone{
	width: 300px;
	height: 170px;
}
.fone p{
	color:#CCCCCC;
	margin-bottom: 25px;
}
.fabout{
	color: #515151;
	margin-bottom: 30px;
}
.icon-box{
	width: 100%;
	height: 30px;
}
.icon-box li{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-top: 0;
	margin-right: 20px;
	font-size: 24px;
	text-align: center;
	line-height: 30px;
	color: #dfdfdf;
}
.fone ul{
	float: left;
	margin-right: 40px;
	color: #515151;
}
.fone ul:nth-child(4){
	margin-right: 0;

}
.f3 img{
	width: 100px;
	height: 100px;
	margin-left: 100px;
}

h3{
	font-size: 16px;
	color: #cccccc;
}

.f3{
	width: 300px;
	height: 170px;
}
.f3>div{
	text-align: center;
	margin-top: 3px;
	font-size: 12px;
	color: #515151;
}

/* 底部结束 */
